<h2 class="page-header">Add Gateway</h2>

<form class="mat-form" (submit)="onSubmit()">
  <app-auto-complete [optionsSourceUrl]="types/all" [placeHolder]="'Type'"></app-auto-complete>
  <app-auto-complete [optionsSourceUrl]="manufacturers/all" [placeHolder]="'Manufacturers'"></app-auto-complete>
  <app-auto-complete [optionsSourceUrl]="gateways/all" [placeHolder]="'Parent Gateway'"></app-auto-complete>
  <app-auto-complete [optionsSourceUrl]="sites/all" [placeHolder]="'Site'"></app-auto-complete>

  <mat-form-field class="mat-full-width">
    <input matInput placeholder="Display Name" value="{{displayName}}">
  </mat-form-field>

  <input type="submit" class="btn btn-primary" value="Add">
</form>
