<h2 class="page-header">Add Sensor</h2>




<form class="mat-form" (submit)="onSubmit()">

  <mat-form-field class="mat-full-width">
    <input matInput placeholder="Display Name" value="{{displayName}}">
  </mat-form-field>

  <app-auto-complete [options]="types" [placeHolder]="'Type'" #type></app-auto-complete> 
  <app-auto-complete [options]="manufacturers" [placeHolder]="'Manufacturer'" #manufacturer></app-auto-complete>
  <app-auto-complete [options]="gateways"  [placeHolder]="'Gateway'" #gateway></app-auto-complete>
  <app-auto-complete [options]="protocols" [placeHolder]="'Protocol'" #protocol></app-auto-complete>
  
  <input type="submit" class="btn btn-primary" value="Add">
</form>
