<h2 class="page-header">Add Sensor</h2>
<form (submit)="onSubmit()">
  <div class="form-group">
    <label for="typeSelect">Type</label>
    <select class="form-control" id="typeSelect">
      <option *ngFor="let type of types">{{ type }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="manufacturerSelect">Manufacturere</label>
    <select class="form-control" id="manufacturerSelect">
      <option *ngFor="let manufacturer of manufacturers">{{ manufacturer }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="gatewaySelect">Gateway</label>
    <select class="form-control" id="gatewaySelect">
      <option *ngFor="let gateway of gateways">{{ gateway }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="displayName">Display Name</label>
    <input type="text" class="form-control" [(ngModel)]="displayName" name="displayName" placeholder="sensor1">
  </div>
  
    
  
  <!-- <div class="form-group">
    <label>Type</label>
    <input type="text" class="form-control" [(ngModel)]="credentials.username" name="username" placeholder="username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" [(ngModel)]="credentials.password" name="password" placeholder="password">
  </div> -->
  <input type="submit" class="btn btn-primary" value="Add">
</form>