<h2 class="page-header">Add Sensor</h2>

<form (submit)="onSubmit()">
  <div class="form-group">
    <label for="typeSelect">Type</label>
    <select class="form-control" id="typeSelect">
      <option *ngFor="let type of types">{{ type }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="manufacturerSelect">Manufacturere</label>
    <select class="form-control" id="manufacturerSelect">
      <option *ngFor="let manufacturer of manufacturers">{{ manufacturer }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="gatewaySelect">Gateway</label>
    <select class="form-control" id="gatewaySelect">
      <option *ngFor="let gateway of gateways">{{ gateway }}</option>
    </select>
  </div>

  <div class="form-group">
      <label for="protocolSelect">Protocol</label>
      <select class="form-control" id="protocolSelect">
        <option *ngFor="let protocol of protocols">{{ protocol }}</option>
      </select>
    </div>

  <div class="form-group">
    <label for="displayName">Display Name</label>
    <input type="text" class="form-control" [(ngModel)]="sensor.displayName" name="displayName" placeholder="sensor1">
  </div>
  

  <!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form> -->
  
  <input type="submit" class="btn btn-primary" value="Add">
</form>