<br>
<div class="container">
  <h2 class="page-header">Edit Gateway</h2>

  <form class="mat-form" (submit)="onSubmit()">

    <app-auto-complete [optionsSourceUrl]="'gateways/all'" [placeHolder]="'Choose Gateway'" (onOptionSelected)="onOptionSelected($event)"  #gateway></app-auto-complete>
    <br><hr>
    <div *ngIf="selectedGateway">
        <mat-form-field class="mat-full-width">
          <input matInput placeholder="Name"  [(ngModel)]="selectedGateway.name" name="name">
        </mat-form-field>

        <app-auto-complete [optionsSourceUrl]="'manufacturers/all'" [placeHolder]="'Manufacturer'" [initialId]="selectedGateway.manufacturer" #manufacturer></app-auto-complete>
        <app-multiple-choice [optionsSourceUrl]="'protocols/all'" [placeHolder]="'Protocols'" [initialIds]="selectedGateway.protocols" #protocols></app-multiple-choice>
        <app-auto-complete [optionsSourceUrl]="'gateways/all'"  [placeHolder]="'Gateway'" [initialId]="selectedGateway.parentGateway" #parentGateway></app-auto-complete>
        <app-auto-complete [optionsSourceUrl]="'sites/all'"  [placeHolder]="'Site'" [initialId]="selectedGateway.site" #site></app-auto-complete>
        <mat-form-field class="mat-full-width">
          <input matInput type="number" placeholder="Longitude"  [(ngModel)]="selectedGateway.longitude" name="longitude">
        </mat-form-field>
        <mat-form-field class="mat-full-width">
          <input matInput type="number" placeholder="Latitude"  [(ngModel)]="selectedGateway.latitude" name="latitude">
        </mat-form-field>

        <input type="submit" class="btn btn-primary" value="Edit">
        <button type="button" class="btn btn-primary" (click)="onDelete()">Delete</button>
    </div>
  </form>
</div>
