<br>
<div class="container">
  <h2 class="page-header">Edit Gateway</h2>

  <form class="mat-form" (submit)="onSubmit()">

    <app-auto-complete [optionsSourceUrl]="'gateways/all'" [placeHolder]="'Choose Gateway'" (onOptionSelected)="onOptionSelected($event)"  #gateway></app-auto-complete>
    <br><hr>
    <div *ngIf="selectedGateway">
        <mat-form-field class="mat-full-width">
          <input matInput placeholder="Name"  [(ngModel)]="selectedGateway.name" name="name">
        </mat-form-field>

        <app-auto-complete [optionsSourceUrl]="'manufacturers/all'" [placeHolder]="'Manufacturer'" [selectedValue]="selectedGateway.manufacturer.name" #manufacturer></app-auto-complete>
        <app-auto-complete [optionsSourceUrl]="'sites/all'"  [placeHolder]="'Site'" [selectedValue]="selectedGateway.site.name" #site></app-auto-complete>       
        <app-multiple-choice [optionsSourceUrl]="'protocols/all'" [placeHolder]="'Protocols'" [selectedValues]="selectedGateway.protocols" #protocols></app-multiple-choice>
        <app-auto-complete [optionsSourceUrl]="'gateways/all'"  [placeHolder]="'Gateway'" [selectedValue]="selectedGateway.parentGateway.name" #parentGateway></app-auto-complete>

        <input type="submit" class="btn btn-primary" value="Edit">
        <button type="button" class="btn btn-primary" (click)="onDelete()">Delete</button>        
    </div>
  </form>
</div>
