<br>
<div class="container">
  <h2 class="page-header">Edit Sensor</h2>

  <form class="mat-form" (submit)="onSubmit()">

    <app-auto-complete [optionsSourceUrl]="'sensors/all'" [placeHolder]="'Choose Sensor'" (onOptionSelected)="onOptionSelected($event)"  #sensor></app-auto-complete>
    <br><hr>
    <div *ngIf="selectedSensor">
        <mat-form-field class="mat-full-width">
          <input matInput placeholder="Name"  [(ngModel)]="selectedSensor.name" name="name">
        </mat-form-field>

        <app-auto-complete [optionsSourceUrl]="'types/all'" [placeHolder]="'Type'" [selectedValue]="selectedSensor.type.name" #type></app-auto-complete>
        <app-auto-complete [optionsSourceUrl]="'manufacturers/all'" [placeHolder]="'Manufacturer'" [selectedValue]="selectedSensor.manufacturer.name" #manufacturer></app-auto-complete>
        <app-multiple-choice [optionsSourceUrl]="'protocols/all'" [placeHolder]="'Protocols'" [selectedValues]="selectedSensor.protocols" #protocols></app-multiple-choice>

        <app-auto-complete [optionsSourceUrl]="'gateways/all'"  [placeHolder]="'Gateway'" [selectedValue]="selectedSensor.gateway.name" #gateway></app-auto-complete>
        <app-auto-complete [optionsSourceUrl]="'sites/all'"  [placeHolder]="'Site'" [selectedValue]="selectedSensor.site.name" #site></app-auto-complete>

        <input type="submit" class="btn btn-primary" value="Add">
    </div>
  </form>
</div>
