<br>
<div class="container">
  <h2 class="page-header">Edit Sensor</h2>

  <form class="mat-form" (submit)="onSubmit()">

    <app-auto-complete [optionsSourceUrl]="'sensors/all'" [placeHolder]="'Sensor'" #sensor></app-auto-complete>    

    <mat-form-field class="mat-full-width">
      <input matInput placeholder="Name"  [(ngModel)]="name" name="name">
    </mat-form-field>

    <app-auto-complete [optionsSourceUrl]="'types/all'" [placeHolder]="'Type'" #type></app-auto-complete>
    <app-auto-complete [optionsSourceUrl]="'manufacturers/all'" [placeHolder]="'Manufacturer'" #manufacturer></app-auto-complete>
    <app-multiple-choice [optionsSourceUrl]="'protocols/all'" [placeHolder]="'Protocols'" #protocols></app-multiple-choice>
    
    <app-auto-complete [optionsSourceUrl]="'gateways/all'"  [placeHolder]="'Gateway'" #gateway></app-auto-complete>
    <app-auto-complete [optionsSourceUrl]="'sites/all'"  [placeHolder]="'Site'" #site></app-auto-complete>
    
    <input type="submit" class="btn btn-primary" value="Add">

  </form>
</div>